<p id="notice"><%= notice %></p>

<p>
  <strong>Action:</strong>
  <%= @statement.action %>
</p>

<p>
  <strong>User:</strong>
  <%= @statement.user_id %>
</p>

<%= link_to 'Edit', edit_statement_path(@statement) %> |
<%= link_to 'Back', statements_path %>
